        .titulo{
            background-color: rgb(125, 18, 18);
            overflow: hidden;
            text-align: center;
            color: white;
            font-size: 40px;
        }
        .intro{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        .enredo{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        .versoes{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        .imagens{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        .plataformas{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        .trailer{
            background-color: rgb(180, 180, 180,0.8);
            overflow: hidden;
            margin: 30px;
            border: 5px solid;
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            padding: 25px;
        }
        p{
            font-size: 25px;
        }
        h2{
            font-size: 40px;
            color: rgb(0, 0, 0);
            text-align: center;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: rgb(0, 0, 0);
        }
        h3{
            font-size: 40px;
            color: rgb(0, 0, 0);
            text-align: center;
        }
        a{
            font-size: 30px;
            background-color: rgb(125, 18, 18);
            color:#ffffff;
            text-decoration: none;
            border: 3px solid;
            border-color: #ffffff;
            border-radius: 5px;
        }
        a:hover{
            font-size: 30px;
            background-color: rgb(255, 255, 255);
            color:rgb(125, 18, 18);
            text-decoration: none;
            border: 3px solid;
            border-color: rgb(125, 18, 18);
            border-radius: 5px;
        }
        body{
            background-image: url(re3/wallpaper.jpeg);
            background-size: auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        .legenda{
            color: white;
            background-color: black;
            margin-left: 300px;
            margin-right: 300px;
            border: 5px;
            padding: 5px;
        }
        iframe{
            width: 1280px;
            height: 720px;
        }